week14/auctionWebClient/src/wsdl/localhost_8080/Registration.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.auction/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web.auction/" name="RegistrationService">
<types>
<xsd:schema>
<xsd:import namespace="http://web.auction/" schemaLocation="http://localhost:8080/Registration?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="numberOfOfferedItems">
<part name="parameters" element="tns:numberOfOfferedItems"></part>
</message>
<message name="numberOfOfferedItemsResponse">
<part name="parameters" element="tns:numberOfOfferedItemsResponse"></part>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"></part>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"></part>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"></part>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"></part>
</message>
<message name="createCategory">
<part name="parameters" element="tns:createCategory"></part>
</message>
<message name="createCategoryResponse">
<part name="parameters" element="tns:createCategoryResponse"></part>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"></part>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"></part>
</message>
<portType name="Registration">
<operation name="numberOfOfferedItems">
<input wsam:Action="http://web.auction/Registration/numberOfOfferedItemsRequest" message="tns:numberOfOfferedItems"></input>
<output wsam:Action="http://web.auction/Registration/numberOfOfferedItemsResponse" message="tns:numberOfOfferedItemsResponse"></output>
</operation>
<operation name="getUser">
<input wsam:Action="http://web.auction/Registration/getUserRequest" message="tns:getUser"></input>
<output wsam:Action="http://web.auction/Registration/getUserResponse" message="tns:getUserResponse"></output>
</operation>
<operation name="registerUser">
<input wsam:Action="http://web.auction/Registration/registerUserRequest" message="tns:registerUser"></input>
<output wsam:Action="http://web.auction/Registration/registerUserResponse" message="tns:registerUserResponse"></output>
</operation>
<operation name="createCategory">
<input wsam:Action="http://web.auction/Registration/createCategoryRequest" message="tns:createCategory"></input>
<output wsam:Action="http://web.auction/Registration/createCategoryResponse" message="tns:createCategoryResponse"></output>
</operation>
<operation name="getUsers">
<input wsam:Action="http://web.auction/Registration/getUsersRequest" message="tns:getUsers"></input>
<output wsam:Action="http://web.auction/Registration/getUsersResponse" message="tns:getUsersResponse"></output>
</operation>
</portType>
<binding name="RegistrationPortBinding" type="tns:Registration">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="numberOfOfferedItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createCategory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RegistrationService">
<port name="RegistrationPort" binding="tns:RegistrationPortBinding">
<soap:address location="http://localhost:8080/Registration"></soap:address>
</port>
</service>
</definitions>